<h1>ログイン</h1>

<div>
    <%= form_with(model: @login, url: login_path, scope: :session, local: true) do |f| %>
        <% if @login.errors.any? %>
          <div class='error-alert'>
            <ul>
              <% @login.errors.full_messages.each do |message| %>
              <li style='color:red;'><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <div>
        <%= f.label :code, 'ユーザーID' %>
        <%= f.text_field :code %>
      </div>
      <div>
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password %>
      </div>
        <%= f.submit 'ログインする' %>
    <% end %>
</div>
